body {
<<<<<<< HEAD
    background-color:  white;
    
=======
    background-color: #fff;
    font-family: sans-serif;
>>>>>>> a0a4d83ea31206f79c7ac50cd03242cb11c9b2df
  }

  header {
    text-align: center;
    padding: 20px;
    background-color: #e6e2da;
    color: white;
  }

  .container {
    margin: 0 auto;
<<<<<<< HEAD
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
=======
    width: 100%;
    padding: 20px;
    border: 2px solid #ccc;
>>>>>>> a0a4d83ea31206f79c7ac50cd03242cb11c9b2df
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
<<<<<<< HEAD
  
=======
>>>>>>> a0a4d83ea31206f79c7ac50cd03242cb11c9b2df
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, textarea {
    width: 100%;
    padding: 5px;
<<<<<<< HEAD
    border: 1px solid #ccc;
=======
    border: 2px solid #ccc;
>>>>>>> a0a4d83ea31206f79c7ac50cd03242cb11c9b2df
  }

  button {
    background-color: #007bff;
    color: rgb(255, 252, 252);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    
    background-size: cover;
    background-position: center;
    color: white;
    position: relative; /* Needed for absolute positioning of overlay */
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.footer-col {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    color: white;
}
