body {
    background-color: #fff;
    font-family: sans-serif;
  }

  header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(245, 12, 12);
  }

  
nav {
  display: flex;
  margin-left: auto;
}

nav a {
  color: red;
  text-decoration: none;
  padding: 1em;
  margin: 0 1em;
  font-weight: bold;
}

  .container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border: 0.5px solid #ccc;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, textarea {
    width: 100%;
    padding: 5px;
    border: 0.5px solid #ccc;
    
  }

  button {
    background-color: #0578ec;
    color: rgb(255, 252, 252);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    
    background-size: cover;
    background-position: center;
    color: white;
    position: relative; /* Needed for absolute positioning of overlay */
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.footer-col {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    color: white;
}

header {
  background-color: white;
  color: red;
  padding: 1em;
  text-align: left; /* Set text alignment to the left */
  display: flex;
  align-items: center; /* Center items vertically in the header */
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: flex-end;
}

header img {
  margin-right: 20px; /* Adjusted the margin between the logo and the restaurant name */
}

h2 {
  margin: 0; /* Remove the default margin for the h1 element */
  margin-left: 10px;
  text-align: center;
}
h1,
p {
  margin: 0; /* Remove default margin for h1 and p elements */
  margin-left: 10px; /* Add a margin to separate the logo and the restaurant name */

}